<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="connection.url">jdbc:postgresql://localhost:5432/second_brain</property>
      <property name="connection.driver_class">org.postgresql.Driver</property>
      <property name="connection.username">postgres</property>
      <property name="connection.password">postgres</property>
      <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
      <property name="show_sql">true</property>
      <property name="format_sql">true</property>
      <property name="hibernate.hbm2ddl.auto">validate</property>
      <property name="hibernate.hbm2ddl.halt_on_error">false</property>
      <property name="hibernate.cache.use_second_level_cache">true</property>
      <property name="hibernate.cache.region.factory_region">org.hibernate.cache.jcache.internal.JCacheRegionFactory</property>
      <property name="hibernate.cache.region.factory_class">jcache</property>
      <property name="hibernate.current_session_context_class">thread</property>
<!--      thread - threadLocal -->
<!--      managed - manged -->
<!--      jta - jta -->
<!--      Лучше устанавливать во время соответствующего запроса-->
<!--      <property name="hibernate.connection.isolation">4</property>-->
<!--      уровни изоляции транзакций -->
<!--                                 1 - Lost update-->
<!--                                 2 - Dirty read-->
<!--                                 4 - Non repeatable read-->
<!--                                 8 - Phantom read-->
      <mapping class="com.hotking.entity.Note"/>
      <mapping class="com.hotking.entity.Tag"/>
      <mapping class="com.hotking.entity.Attachment"/>
  </session-factory>
</hibernate-configuration>